body {
  background: darkgray;

  perspective: 1500px;
  height: 100vh;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;

  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
}

.face-front {
  background: blue;
  height: 400px;
  width: 260px;
  transform: translateX(-50%) translateY(-50%) translateZ(20px);
}

.face-right {
  background: green;
  height: 400px;
  width: 40px;
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(130px);
}

.face-left {
  background: pink;
  height: 400px;
  width: 40px;
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(130px);
}

.face-top {
  background: red;
  height: 40px;
  width: 260px;
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(200px);
}

.face-bottom {
  background: orange;
  height: 40px;
  width: 260px;
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(200px);
}

.face-back {
  background: black;
  height: 400px;
  width: 260px;
  transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(20px);
}
