@font-face {
  font-family: KBPlanetEarth;
  src: url(KBPlanetEarth.ttf);
}

:root {
  --face-height: 400px;
  --face-width: calc(400px * 1.5);
  --side-translateZ: 300px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: black
    url('https://res.cloudinary.com/marcelcruz/image/upload/v1594120184/playground/stars_od97j5.png')
    repeat;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'KBPlanetEarth', sans-serif;
  height: var(--vh);
  justify-content: center;
  letter-spacing: 2px;
  margin: 0;
  padding: 50px;
  perspective: 1500px;
  text-align: center;
}

.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  font-size: 24px;
  height: var(--vh);
  justify-content: center;
  padding: 30px;
  position: absolute;
  transform: translateZ(0px);
  width: 100vw;
  z-index: 9;
}

button.ok {
  border: none;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  font-size: 30px;
  margin-top: 30px;
  padding: 10px 50px;
}

main {
  height: var(--face-height);
  width: var(--face-width);
  margin: 80px 0;
  position: relative;
}

section {
  left: 50%;
  top: 50%;
  position: absolute;
  transform-style: preserve-3d;
}

span.spin {
  cursor: pointer;
  text-decoration: underline;
}

span.created-by {
  bottom: 20px;
  font-family: monospace;
  position: absolute;
  right: 30px;
}

a,
a:visited {
  color: white;
  font-weight: 800;
}

.face {
  background-size: cover;
  cursor: pointer;
  left: 0;
  position: absolute;
  top: 0;
}

.face.front {
  backface-visibility: hidden;
  background-color: black;
  background: url('https://res.cloudinary.com/marcelcruz/image/upload/f_auto,q_auto,w_1200/v1594120007/playground/flat-earth_txplr7.jpg');
  background-size: cover;
  height: var(--face-height);
  width: var(--face-width);
  transform: translateX(-50%) translateY(-50%) translateZ(5px);
}

.face.back {
  background: black;
  height: var(--face-height);
  width: var(--face-width);
  /* height: 200px;
  width: 360px; */
  transform: translateX(-50%) translateY(-50%) rotateY(-180deg) translateZ(5px);
}

.face.right {
  background: #3a210e;
  height: var(--face-height);
  width: 10px;
  transform: translateX(-50%) translateY(-50%) rotateY(90deg)
    translateZ(var(--side-translateZ));
}

.face.left {
  background: #3a210e;
  height: var(--face-height);
  width: 10px;
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg)
    translateZ(var(--side-translateZ));
}

video {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  :root {
    --face-height: 300px;
    --face-width: calc(300px * 1.5);
    --side-translateZ: 225px;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --face-height: 200px;
    --face-width: calc(200px * 1.5);
    --side-translateZ: 150px;
  }

  body {
    padding: 30px;
  }

  h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --face-height: 150px;
    --face-width: calc(150px * 1.5);
    --side-translateZ: 112.5px;
  }
}

@media screen and (max-width: 250px) {
  :root {
    --face-height: 100px;
    --face-width: calc(100px * 1.5);
    --side-translateZ: 75px;
  }
}
